html {
  background-color: #24292e;
  color: #fefefe;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

a {
  color: #1ca3ea;
  text-decoration: none;
}

a:visited {
  color: #1ca3ea;
}

header {
  font-size: 200%;
  padding: 0 32px;
  text-align: center;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

main h1 {
  display: flex;
  width: 100%;
}

.item {
  align-items: center;
  display: flex;
  font-size: 400%;
  font-weight: 700;
  flex: 1;
  padding: 128px 64px;
}

.man {
  background-color: #037fff;
  font-family: 'Nunito Sans', sans-serif;
  justify-content: flex-end;
  text-align: right;
}

.woman {
  background-color: #ff69b4;
  font-family: 'Nunito', sans-serif;
  justify-content: flex-start;
  text-align: left;
}

nav {
  font-size: 150%;
  text-align: center;
}

footer {

}

@media (max-width: 720px) {
  header {
    font-size: 150%;
  }

  main h1 {
    flex-direction: column;
  }

  .item {
    font-size: 250%;
    padding: 64px 32px;
  }

  .man, .woman {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  nav {
    font-size: 100%;
  }
}
