<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article" prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Translator{{# perm }} - {{ man }} vs. {{ woman }}{{/ perm }}</title>
        <meta name="viewport" content="user-scalable=yes">

        <meta itemprop="name" content="Translator{{# perm }} - {{ man }} vs. {{ woman }}{{/ perm }}" />
        <meta itemprop="description" content="Are you a developer? Are you bored at work? Here, have an argument." />

        <meta property="og:title" content="Translator{{# perm }} - {{ man }} vs. {{ woman }}{{/ perm }}" />
        <meta property="og:description" content="Are you a developer? Are you bored at work? Here, have an argument." />

        <link rel="icon" href="/static/favicon.ico" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
        <link rel="stylesheet" href="/static/css/main.css">

        <link href="https://fonts.googleapis.com/css?family=Nunito:700|Nunito+Sans:700&display=swap" rel="stylesheet">
    </head>
    <body class="{{ body_class }}">

        <header>
            <h1>Translator</h1>
            <p>
                Are you confused with how to talk to and about women? Here is your helpful translator.
            </p>
        </header>

        <main>
            <h1>
                <div class="item man">{{ man }}</div>
                <div class="item woman">{{ woman }}</span>
            </h1>

            <p>
                Want another <a href="/">translation</a>?
            </p>

            <p>
                <a href="{{ permalink }}">Permalink</a>
            </p>

            <p>
                Made by <a href="https://kevin.carrogan.com">Kevin</a> and his wife.
            </p>
        </main>
    </body>
</html>
